/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form-container {
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.filters {
    margin-bottom: 20px;
}

.search-bar, .select-box {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    display: inline-block;
}

.search-bar:focus, .select-box:focus {
    border-color: #007bff;
    outline: none;
}

.add-button {
    padding: 10px;
    margin: 10px;
    background-color: #b8b8b8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.add-button:hover {
    background-color: #2c2c2c;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.card-buttons {
    margin-top: 10px;
}

.action-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.action-button:hover {
    opacity: 0.8;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination-button {
    padding: 10px 20px;
    background-color: #2c2c2c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination {
    font-size: 16px;
    margin: 0 10px;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

/* ---------------------------- */
.cards-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.registro-table {
    width: 100%;
    border-collapse: collapse;
}

.registro-table th, .registro-table td  {
    border: 1px solid #ddd;
    padding: 8px;
}

.registro-table th {
    background-color: #f4f4f4;
    text-align: left;
}

.loading, .error {
    font-size: 1.2em;
    text-align: center;
    margin: 20px;
}

.error {
    color: red;
}